*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: #CD17D3;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
title{
    size: 40px;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

    width: 100%;
}

nav ul li a:hover {
    box-shadow: inset 0 0 14px black;
    font-size: 1.2em;
}

a.skip-to-content-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    color: white;
    opacity: 0;
  }
a.skip-to-content-link:focus, a.skip-to-content-link:active{
    left: 4%;
    transform: translateX(-50%);
    opacity: 1;
  }

li:hover
{
    text-decoration: underline;
}

.logo{
    width: 150px;
}

nav ul{
    flex: 1;
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

.btn{
    border: 2px solid #fff;
    padding: 6px 25px;
    border-radius: 30px;
    margin-left: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-between;
}

.col-1{
    flex-basis: 40%;
    min-width: 300px;
    margin-bottom: 30px;
    position: relative;
}

.col-2{
    flex-basis: 55%;
    min-width: 300px;
    margin-bottom: 30px;
}

.col-1 img{
    width: 100%;
}

.col-2 h1{
    font-size: 62px;
    font-weight: 600;
}

.col-2 p{
    margin: 10px 0 30px;
    max-width: 580px;
}

.col-2 .btn{
    margin-left: 0;
    margin-right: 30px;
    background: #fff;
    color: #CD17D3;
    font-weight: 500;

}

.elements{
    position:absolute;
    left: 0;
    top: 0;
    animation: move 2.5s linear infinite;
}

@keyframes move{
    0%{
        transform: translate(-15px, 0px);
    }
    50%{
        transform: translate(0px, -15px);
    }
    100%{
        transform: translate(-15px, 0px);
    }
}

.triangle1{
    position: absolute;
    left: 50%;
    top: -180px;
    transform: translateX(-50%);
    width: 400px;
    z-index: -1;
    opacity: 0.4;
}

.triangle2{
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    z-index: -1;
    opacity: 0.2;
}

.circle{
    position: absolute;
    right: -100px;
    bottom: -300px;
    width: 500px;
    z-index: -1;
    opacity: 0.5;
}


body{
  background: #CD17D3;
  box-sizing: border-box;
}
section{
  padding: 10% 20%;
}
.animate{
  transition: all .3s;
}

input[name=question]{
    display: none;
}
input[name=question] + label{
    position: relative;
    display: block;
    padding: 20px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background: rgba(246, 246, 246, 1);
    color: black;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3px;
}

.response{
    position: relative;
    background: #CD17D3;
    color: #CD17D3;
    padding: 10px 20px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    opacity: 0;
    border-radius: 3px;
}

input[name=question]:checked + label{
    background: #F6F6F6;
    color: black;
}
input[name=question]:checked + label + .response{
    opacity: 1;
    visibility: visible;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: white;
}

.fixed-height{
    height: 50px;
    overflow: hidden;
    opacity: 1 !important;
}

.col-2 .btn{
    margin-left: 0;
    margin-right: 30px;
    background: #fff;
    color: #CD17D3;
    font-weight: 500;

}

.col-2 a{
    color: green;
    font-size: 50;
    transition: all .5s linear;
}

.col-2 a:hover {
    color: red;
  }

.col-3{
    flex-basis: 55%;
    min-width: 300px;
    margin-bottom: 30px;
}


.col-3 h1{
    margin: 20px 0 0;
    text-align: justify;
    font-size: 40px;
    font-weight: 600;
}

.col-3 p{

    font-size: 20px;
    margin: 10px 0 30px;
    max-width: 580px;
}

.col-3 .btn{
    margin-left: 0;
    margin-right: 30px;
    background: #fff;
    color: #CD17D3;
    font-weight: 500;

}

.col-3 a{
    transition: all .5s linear;
}

.col-3 a:hover {
    color: pink;
  }

.col-4{
    flex-basis: 55%;
    min-width: 300px;
    margin-bottom: 30px;
}

.col-4 h1{
    margin: 20px 0 0;
    text-align: justify;
    font-size: 40px;
    font-weight: 600;
}

.col-4 p{

    font-size: 20px;
    margin: 10px 0 30px;
    max-width: 1000px;
}

.col-4 img{
    width: 30%;
}

.col-4 .btn{
    margin-left: 0;
    margin-right: 30px;
    background: #fff;
    color: #CD17D3;
    font-weight: 500;

}

.col-5{
    flex-basis: 55%;
    min-width: 300px;
    margin-bottom: 30px;
}

.col-5 h1{
    margin: 20px 0 0;
    text-align: justify;
    font-size: 40px;
    font-weight: 600;
}

.col-5 p{

    font-size: 20px;
    margin: 10px 0 30px;
    max-width: 580px;
}

.col-5 .btn{
    margin-left: 0;
    margin-right: 30px;
    background: #fff;
    color: #CD17D3;
    font-weight: 500;

}

.nfts-examples {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    margin: auto;
}
.nfts-examples>img{
    width: 100%;
}

.brand-images{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}
.brand-child{
    text-align: center;
}
.brand-child>a>img{
    margin: 20px;
    width: 90%;
    height: 60%;
}
.brand-child>a>img:hover{

    border: black 5px solid;
}
.brand-child>a>p:hover{

    box-shadow: inset 0 0 14px black;
    font-size: 1.2em;
}
h1{
    text-align: center;
    width: 100%;
}

.personal{
    display: flex;
    flex-direction: column;
}
.personal>a{
    margin: 0 0 20px 0
}

@media only screen and (min-width: 700px)
{
    .nfts-examples {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .nfts-examples>img{
        width: 50%;
    }

    .brand-images{
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .brand-child{
        text-align: center;
    }
    .brand-child>a>img{
        margin: 20px;
        width: 90%;
        height: 60%;
    }
    .brand-images:last-child>a{
    
        grid-column: 1 / span 3;
    }
}

@media only screen and (min-width: 900px)
{

    .nfts-examples{
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }

    .brand-images{
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .nfts-examples>img {
        width: 10%;
    }

    h1 {
        text-align:left; 
    }

    .personal{
        display: inline;
    }
}

@media screen and (prefers-reduced-motion: reduce)
{
    .elements
    {
        animation-duration: 0s;
    }
}


/*
 <div class="col-3">
                <h1>Popular NFT Marketplaces</h1>
                <a href="https://crypto.com/nft/" target="_blank"><p>Crypto.com</p></a>
                <a href="https://opensea.io/" target="_blank"><p>OpenSea</p></a>
                <a href="https://rarible.com/" target="_blank"><p>Rarible</p></a>
                <a href="https://niftygateway.com/" target="_blank"><p>Nifty Gateway</p></a>
                <a href="https://foundation.app/" target="_blank"><p>Foundation</p></a>
                <a href="https://nbatopshot.com/" target="_blank"><p>NBA Topshot</p></a>
                <a href="https://superrare.com" target="_blank"><p>SuperRare</p></a>
                <a href="https://myth.market" target="_blank"><p>Myth Market</p></a>
                <a href="https://marketplace.draftkings.com" target="_blank"><p>DraftKings Marketplace</p></a>
                <a href="https://www.binance.com/en/nft/home" target="_blank"><p>Binance NFT</p></a>
            </div>
*/